hr {
	border-style: solid;
	border-width: 1px;
}

* {
	box-sizing: border-box;
}

body,pre {
	background-color: #F6F6F6;
	font-family: "Helvetica", sans-serif;
	text-align: justify;
	hyphens: auto;
	margin: auto;
	padding: 1em;
	max-width: 60em;
}

p.banner {
	padding-bottom:10px;
}

a {
	color: #717171;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #202020;
	text-decoration: underline;
}

/* for bg text inverse colors

a:hover {
	color: #e9e9e9;
	background-color: #363636;
}

*/
a.center {
	text-align: center;
}

img.center {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

div.box {
	float: left;
	width: 100%;
	height: auto;
}

div.column {
	float: left;
	margin: 0;
	width: 33%;
}

div.columnHome {
	float: left;
	margin: 0;
	width: 30%;
}

div.columnEpisodes {
	float: left;
	margin: 0;
	width: 70%;
	padding-bottom:20px;
}


/* /episodes */

td{
	width: 100%;
	padding-bottom:10px;
	padding-top:20px;
}

td.tdLeft {
	width:30%;
	vertical-align:top;
}

td.tdRight {
	width:70%;
	padding-left:15px;
}

td.tdSplita {
	width:50%;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	height:220px;
	text-align:justify;
}

div.shownotes {
	padding-top: 10px;
  padding-bottom: 60px;
}

/* /about */

table.about {
	width:700px;
	text-align: left;
}

td.tdSplitb {
	width:50%;
	text-align: center;
	padding-bottom: 40px;
}

td.tdcenter {
	text-align:center;
	padding-bottom:15px;
}


/* copyright div */

div.copy {
	text-align:left;
}
