hr {
	border-style: ridge;
	border-width: 1px;
	border-color: #000;
}

* {
	box-sizing: border-box;
}

body,pre {
	font-family: "Helvetica", sans-serif;
	text-align: justify;
	hyphens: auto;
	margin: auto;
	padding: 1em;
	max-width: 60em;
	background-color: #F6F6F6;
}

pre, code {
	font-family: "Latin Modern Mono", "Terminus", "DejaVu Sans Mono", monospace;
}

a {
	color: #717171;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #e9e9e9;
	background-color: #363636;
}

a.center {
	text-align: center;
}


img.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

div.box {
	float: left;
	width: 100%;
	height: auto;
}

.column {
	float: left;
	margin: 0;
	width: 33%;
}

.columnHome {
	float: left;
	margin: 0;
	width: 30%;
}

.columnEpisodes {
	float: left;
	margin: 0;
	width: 70%;
}

/* /episodes */

td{
	width: 100%;
}

td.tdLeft {
	width:30%;
}

td.tdRight {
	width:70%;
}

td.tdSplita {
	width:50%;
	padding-bottom: 20px;
	height:220px;
}

td.shownotes {
	padding-top: 20px;
  padding-bottom: 20px;
}

/* /about */

table.about {
	width:700px;
	text-align: left;
}

td.tdSplitb {
	width:50%;
	text-align: center;
	padding-bottom: 20px;
}

td.tdcenter {
	text-align:center;
	padding-bottom:15px;
}
